# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.vs/todo_bloc/FileContentIndex/275062e2-42ad-42ad-bdde-d289eb58c670.vsidx
.gitignore
.gitignore
.vs/todo_bloc/v17/Browse.VC.db-shm
.gitignore
.vs/todo_bloc/v17/Browse.VC.db-wal
.vs/todo_bloc/v17/Browse.VC.db
.vs/slnx.sqlite
.vs/todo_bloc/FileContentIndex/192ae94c-f0df-4ae8-94d7-bf79800bb512.vsidx
.vs/todo_bloc/v17/Browse.VC.opendb
.vs/todo_bloc/FileContentIndex/549c7465-151a-4763-b3fb-e609cdc997bf.vsidx
